.facebook-auth {
    background-color: #0e1863;
    color: white;
    border: none;
    gap: 15px;
    border-radius: 10px;
    width: 19.5rem;
    height: 3.25rem;
    font-size: 1rem;
}

.google-auth {
    background-color: white;
    color: #000000b2;
    border: none;
    gap: 15px;
    border-radius: 10px;
    opacity: 0.9;
    width: 19.5rem;
    height: 3.25rem;
    font-size: 1rem;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
}

.a-auth {
    text-decoration: none;
    color: #0e1863;
}
